body{
    background-color: #24353F;
}

.form-box{
    width: 70%;
    background-color: #24353F;
    margin:50px auto;
    text-align: center;
    padding: 50px;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.form-box > *{
    margin-top: 20px;
}
.form-box > h1{
    margin-top: 5px;
    color: rgb(23, 162, 184);
}
.form-box > input{
    background-color: #24353F;
}
.form-control::placeholder{
    color: #B6B6B6;

}
.welcome-nav{
    background-color: #24353F;
}
.welcome .form-box{
    transform: translateY(100%);
}
.btn-logout {
    --bs-btn-color:rgba(255, 255, 255, 0.5);
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffc107;
    --bs-btn-hover-border-color: #ffc107;
    --bs-btn-focus-shadow-rgb: 13, 202, 240;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffc107;
    --bs-btn-active-border-color: #ffc107;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffc107;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ffc107;
    --bs-gradient: none;
}
